@import "../variables";


footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: $darkModeColor;
  color: white;
  position: fixed;
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}