.card-area {
  margin-bottom: 30px;
  width: 40%;
  .card {
    padding: 20px 30px;
    width: 100%;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px;


    .avatar {
      position: absolute;
      left: -15px;
      top: -15px;
      border: 2px solid #555;
      border-radius: 50%;
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.6);
      width: 60px;
      height: 60px;
      text-align: center;
      color: #FFF;
      padding-top: 5px;
      font-size: 10px;
      font-weight: bold;
      line-height: 14px;
    }

    .img-avatar {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      box-shadow: 1px 1px 10px 1px #b5b4b4;
      width: 100px;
      height: auto;
    }

    .card-title {
      position: absolute;
      width: 100%;
      top: 10px;
      right: 0px;
      font-size: 20px;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      text-align: center;
    }

    .card-text {
      margin-top: 25px;
      margin-bottom: 15px;
      font-size: 14px;
    }

    .calendar-poster {
      position: absolute;
      right: 0px;
      bottom: 0px;
      font-size: 12px;
      padding-right: 8px;
      padding-left: 15px;
      padding-bottom: 1px;
      border-top: 3px solid #505050;
      border-left: 3px solid #505050;
      border-top-left-radius: 30px;

    }

    &.gray {
      background: rgb(226, 226, 226);
      background: -moz-linear-gradient(-60deg, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
      background: -webkit-linear-gradient(-60deg, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
      background: linear-gradient(150deg, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1);
    }
  }
}