@import "../mixins";
@import "../variables";

%sidelink {
  text-decoration: none;
  color: $white;
  display: block;
  background-color: transparent;
  border: none;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $darkModeColor;
  overflow-x: hidden;
  padding: 45px 16px 6px 16px;
ul{
  color: white;
}
  h1 {
    @extend %sidelink;
    font-size: 25px;
    padding: 6px 0;
  }

  a, .dropdown-btn {
    @extend %sidelink;
    font-size: 18px;
    padding: 6px 0;

    &:hover {
      color: $mainColor;
    }
  }

  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }

  @include mQ(0, 450px) {
    .sidenav {
      padding-top: 15px;

      a {
        font-size: 18px;
      }
    }
  }
}