@import "variables";

body{
  font-family: 'Raleway', sans-serif;
}
hr{
  border: 1px solid $white;
  margin-left: 15px;
  margin-right: 15px;
}
.results-container{
  align-items: center;
  padding-left: 300px;
  display: flex;
  flex-direction: column;
  width: 100%;
  .results{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .home-results{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.btn{
  color: $white;
  background-color: $mainColor;
  border: 1px solid $mainColor;
  transition: ease-in-out .2ms;
  &:hover{
    background-color: $white;
    border: 1px solid $mainColor;
    color: $mainColor;
  }
}

