$mainColor: #74d4bc;
$mainDarkerColor: #064F77;
$lightBackground: #eef6f8;
$premiumColor: #b28012;
$lightGrey: #F7F9FB;
$danger: #F00;
$white: #ffffff;
$sectionMargin: 100px 0px;
$hoverColor: #EEE;
$textColor: #9f9fa0;
$reviewColor: #ffc225;
$mainLightColor: rgba(78,162,217,.2);
$mainDangerColor: #FF485E;
$darkModeColor: #343a40;